
{{#each all}}

    <div>
        <div class="htsa-post-widget-a ui fluid card rounded-0">

            <a href="{{url}}" class="image overflow-hidden">

                {{#if ($not_empty thumbnail)}}

                    <img src="{{thumbnail}}" alt="" />

                {{else}}

                    <img src="./assets/images/image.png" alt="" />

                {{/if}}

            </a>

            <div class="content">
                <h1 class="fs-5 fw-semibold text-capitalize border-bottom pb-2">
                    <a href="{{url}}" class="link-dark htsa-hover-link-transition htsa-text-hover-primary"> {{title}} </a>
                </h1>
                <small><a href="{{url}}" class="link-secondary d-md-none">Read More</a></small>
                <p class="d-none d-md-block"> {{$stringExcerpt content}} </p>
            </div>
        </div>
    </div>

{{/each}}