
{{#each all}}

    <div>

        {{#if ($not_empty thumbnail)}}

        <div class="h-auto htsa-background-image htsa-background-image-scroll shadow-lg htsa-bg-dark" style="background-image: url('{{thumbnail}}');">

        {{else}}

        <div class="h-auto htsa-background-image htsa-background-image-scroll shadow-lg htsa-bg-dark">

        {{/if}}

            <div class="htsa-background-image-overlay">
                <div class="h-100 vstack justify-content-between p-2 pe-5 p-sm-4 pe-sm-5">
                    <div>
                        <h1 class="fs-4 text-white text-capitalize fw-bold htsa-ff-roboto-slab"> {{title}} </h1>
                        <p class="text-white d-none d-sm-block"> {{$stringExcerpt content}} </p>
                        <p>
                            <small class="text-white fw-bold"> {{date}} </small>
                        </p>
                    </div>
                    <div class="ui hidden divider d-none d-sm-block"></div>
                    <div>
                        <a href="{{url}}" class="btn btn-sm btn-outline-light">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/each}}