
{{#if ($not_empty_array results)}}

    <div class="htsa-vertical-posts">

        {{#each results}}

            <div class="row flex-column flex-md-row align-items-center pb-3 mb-5 g-3 g-lg-5">
                <div class="col-md-4">
                    <a href="{{url}}">

                        {{#if ($not_empty thumbnail)}}

                            <img src="{{thumbnail}}" alt="" class="img-fluid" />

                        {{else}}

                            <img src="./assets/images/image.png" alt="" class="img-fluid" />

                        {{/if}}
                    </a>
                </div>
                <div class="col-md-8">
                    <h1 class="fs-4 fw-normal text-capitalize"> <a href="{{url}}" class="link-dark"> {{title}} </a></h1>
                    <small class="text-muted text-uppercase"> {{post_type}} </small>
                    <p> {{$stringExcerpt content}} </p>
                    <div>
                        <a href="{{url}}" class="btn btn-sm btn-outline-dark text-capitalize rounded-0">see post</a>
                    </div>
                </div>
            </div>

        {{/each}}

    </div>

    <!-- Pagination -->
    <div class="ui black circular labels text-center">
        <a class="ui label"><i class="left angle icon align-middle me-0"></i></a>
        <a class="ui label">1</a>
        <a class="ui label">2</a>
        <a class="ui label">3</a>
        <a class="ui label">4</a>
        <a class="ui label">5</a>
        <a class="ui label"><i class="right angle icon align-middle me-0"></i></a>
    </div>
    <!-- End Pagination -->

{{else}}

<div>
    <div class="ui centered medium image mb-2">
        <img src="./assets/images/image.png" />
    </div>
    <p class="fs-5">
        We could not find any results for your query...
    </p>
</div>

{{/if}}
